<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/wheather.png"></klink>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="main-content">
        {{>header}} 
        This is some helpfull text   
    </div>    
    {{>footer}}
</body>

</html>
